body {
  font-family: serif;
}

body fb\:description {
  display: none;
}

body fb\:stylesheet {
  display: none;
}

body+fb\:body {
  display: block;
}

fb\:section {
  display: block;
  border-top: none;
  border-bottom: none; 
  border-left: thin solid green; 
  border-right: none; 
  padding-top: 0; 
  padding-bottom: 0; 
  padding-left: 4; 
  padding-right: 0;
}

fb\:title {
  display: block;
  color: white;
  background: green;
  text-align: center;
  font-family: sans-serif;
  font-size: 120%;
}

fb\:section fb\:title {
  font-size: 100%;
}

fb\:epigraph {
  display: block;
  border-left: 2 dotted purple;
  margin-left: 15%;
  padding-left: 4;
}

fb\:cite {
  display: block;
  border-left: 2 dotted teal;
  margin-left: 10%;
  padding-left: 4;
}

fb\:poem {
  display: block;
  border-left: thin solid blue;
  margin-left: 5%;
  padding-left: 4;
}

fb\:poem fb\:stanza {
  display: block;
  border-left: thin solid blue;
  padding-left: 4;
}

fb\:poem div {
  margin-top: 1em;
  margin-bottom: 1em;
}

fb\:poem p {
  margin-top: 0;
  margin-bottom: 0;
}

p[fb\:class=subtitle] {
  color: white;
  background: #d8a903;
  text-align: center;
  font-family: sans-serif;
  margin-left: 2%;
  margin-right: 2%;
}

p[fb\:class=text-author] {
  color: blue;
  text-align: right;
  margin-left: 40%;
}

fb\:body[name=notes] {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4;
  padding-right: 0;
}

fb\:body[name=notes] fb\:section[id] fb\:title {
  font: inherit;
  float: left;
  margin-left: 4;
  margin-right: 4;
  padding-left: 4;
  padding-right: 4;
}

fb\:body[name=notes] fb\:section[id] fb\:title p {
  margin-top: 0;
  margin-bottom: 0;
}

table, td, th {
  border: 1 solid gray; 
}

br {
  display: none;
}
