body {
  font-family: serif;
}

div.description {
  display: none;
}

div.annotation {
  padding-left: 10;
  padding-right: 10;
  border-width: thin;
  border-style: solid;
  border-color: blue;
  border-top-left-radius: 10;
  border-top-right-radius: 10;
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10;
}

div.section {
  border-top: none; 
  border-bottom: none; 
  border-left: thin solid green; 
  border-right: none; 
  padding-top: 0; 
  padding-bottom: 0; 
  padding-left: 4; 
  padding-right: 0;
}

div.title {
  color: white;
  background: green;
  text-align: center;
  font-family: sans-serif;
}

div.subtitle {
  color: white;
  background: #d8a903;
  text-align: center;
  font-family: sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

div.cite {
  border-left: 2 dotted teal;
  margin-left: 5%;
  padding-left: 4;
}

div.poem {
  border-left: thin solid blue;
  margin-left: 5%;
  padding-left: 4; 
}

div.poem div {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.poem p {
  margin-top: 0;
  margin-bottom: 0;
}

div.note {
  border-top: none;
  border-bottom: none;
  border-left: thin solid green;
  border-right: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4;
  padding-right: 0;
}

div.note div.title {
  font: inherit;
  float: left;
  margin-left: 4;
  margin-right: 4;
  padding-left: 4;
  padding-right: 4;
}

div.note div.title p {
  margin-top: 0;
  margin-bottom: 0;
}
