body {
  font-family: serif;
}

fb\:stylesheet{
  display: none;
}

fb\:description div {
  display: none;
}

fb\:description fb\:title-info {
  display: block;
}

fb\:description fb\:title-info div {
  display: none;
}

fb\:description fb\:title-info fb\:annotation {
  display: block;
  padding-left: 10;
  padding-right: 10;
  border-width: thin;
  border-style: solid;
  border-color: blue;
  border-top-left-radius: 10;
  border-top-right-radius: 10;
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10;
  margin-top: 0;
  margin-bottom: 1em;
}

fb\:annotation:before {
    color: gray;
    text-align: right;
    content: "<annotation>";
    display: inline-block;
    position: relative;
    font-size: 0.8em;
    width: 100%;
    margin-top: 0;
    margin-bottom: -1em;
}

fb\:description fb\:title-info fb\:annotation div {
  display: block;
}

fb\:description fb\:document-info {
  display: block;
}

fb\:description fb\:document-info div {
  display: none;
}

fb\:description fb\:document-info fb\:history {
  display: block;
  padding-left: 10;
  padding-right: 10;
  border-width: thin;
  border-style: solid;
  border-color: blue;
  border-top-left-radius: 10;
  border-top-right-radius: 10;
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10;
  margin-top: 1em;
  margin-bottom: 1em;
}

fb\:history:before {
    color: gray;
    text-align: right;
    content: "<history>";
    display: inline-block;
    position: relative;
    font-size: 0.8em;
    width: 100%;
    margin-top: 0;
    margin-bottom: -1em;
}

fb\:description fb\:document-info fb\:history div {
  display: block;
}

fb\:body {
  display: block;
}

fb\:section {
  display: block;
  border-top: none;
  border-bottom: none; 
  border-left: thin solid green; 
  border-right: none; 
  padding-top: 0; 
  padding-bottom: 0; 
  padding-left: 4; 
  padding-right: 0;
}

fb\:title {
  display: block;
  color: white;
  background: green;
  text-align: center;
  font-family: sans-serif;
  font-size: 120%;
}

fb\:section fb\:title {
  font-size: 100%;
}

fb\:subtitle {
  display: block;
  color: white;
  background: #d8a903;
  text-align: center;
  font-family: sans-serif;
  margin-left: 2%;
  margin-right: 2%;
}

fb\:epigraph {
  display: block;
  border-left: 2 dotted purple;
  margin-left: 15%;
  padding-left: 4;
}

fb\:cite {
  display: block;
  border-left: 2 dotted teal;
  margin-left: 10%;
  padding-left: 4;
}

fb\:poem {
  display: block;
  border-left: thin solid blue;
  margin-left: 5%;
  padding-left: 4;
}

fb\:poem fb\:stanza {
  display: block;
  border-left: thin solid blue;
  padding-left: 4;
}

fb\:poem div {
  margin-top: 1em;
  margin-bottom: 1em;
}

fb\:poem p {
  margin-top: 0;
  margin-bottom: 0;
}

fb\:body[name=notes] {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4;
  padding-right: 0;
}

fb\:body[name=notes] fb\:section[id] fb\:title {
  font: inherit;
  float: left;
  margin-left: 4;
  margin-right: 4;
  padding-left: 4;
  padding-right: 4;
}

fb\:body[name=notes] fb\:section[id] fb\:title p {
  margin-top: 0;
  margin-bottom: 0;
}
