[Desktop Entry]
Name=fb2edit
GenericName=Editor of e-books
GenericName[ru]=Редактор элетронных книг
Comment=Create or modify FB2 file 
Comment[ru]=Создание и редактирование FB2 файла
Exec=fb2edit
Icon=fb2edit
Type=Application
Categories=Office;FileTools;Qt;Viewer;TextTools;TextEditor;Utility;
MimeType=application/x-fictionbook+xml;
StartupNotify=true
Terminal=false
