[Desktop Entry]
Name=fb2edit
Exec=fb2edit
Icon=fb2edit
Type=Application
Comment=FB2 file editor
Categories=Office;FileTools;Qt;Viewer;TextTools;TextEditor;Utility;
MimeType=application/x-fictionbook+xml;
